<!DOCTYPE html>
<html>
<head>
  <title>TripcastStore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= yield :head %>

  <%= javascript_include_tag "vendor" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <div class="inner">
    <h1 id="title">Tripcast Store</h1>
  </div>
</div>

<div id="main">
  <div class="inner">
    <%= yield %>
  </div>
</div>

</body>
</html>
